<div class="row text-center">
    <div class="col align-items-center justify-content-center">
        <img src="https://cdn-icons-png.flaticon.com/512/5978/5978441.png" height="150">
        <h1 class="text-danger">Access Denied</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>